*{
    font-family: Arial, Helvetica, sans-serif;
}

.logo{
    height: 10%;
    width: 10%;
}

p{
    font-size: larger;
}
.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
  }
.id-search{
    margin-right: 10px;
    padding: 10px;
}